.image-placeholder {
    width: 320px;
    height: 200px;
    border: 1px solid black;
    background-color: var(--color-4);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --color-1: #e63946;
    --color-2: #f1faee;
    --color-3: #a8dadc;
    --color-4: #457b9d;
    --color-5: #1d3557;
}

#content {
    margin: 25px;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--color-5);
    color: white;
}

header {
    background-color: var(--color-1);
    display: flex;
    padding: 15px;
    justify-content: center;
}

button {
    background-color: var(--color-4);
    border-radius: 5px;
    height: 50px;
    width: 150px;
    margin: 15px;
    border: 2.5px solid var(--color-3);
}

.menu-entry {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(5, 1fr);
    grid-template-areas: "item item item item price"
        "subtitle subtitle subtitle subtitle price";
    width: fit-content;
}

.menu-entry:nth-child(even) {
    background-color: var(--color-4);
    color: black;
}

.menu-item {
    grid-area: item;
}

.menu-item {
    grid-area: subtitle;
}

.price {
    grid-area: price;
    justify-self: center;
    align-self: center;
}